{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <h1 class="text-center mb-4">Вход</h1>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label", for="username") }}
            {{ form.username(class="form-control", id="username") }}
            {% if form.username.errors %}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label", for="password") }}
            {{ form.password(class="form-control", id="password") }}
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-primary btn-lg", type="submit") }}
        </div>
    </form>
</div>
{% endblock %}
